@using Microsoft.AspNetCore.Identity;
@using SocialNetwork.Models.Users;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="righ-align">
        <form method="post" asp-controller="AccountManager" asp-action="Logout">
            <input class="enter_submit" type="submit" value="Выход" />
        </form>
    </div>
}
